#!/usr/bin/env bash
# vim: set syntax=bash:

# Who is wilson? Better watch 'Cast away' tonight

#singleton (Start)
umask 000                  # allow all users to access the file we're about to create
exec 9>"/tmp/${0##*/}.lck" # open lockfile on FD 9, based on basename of argv[0]
umask 022                  # move back to more restrictive file permissions
flock -x -n 9 || exit      # grab that lock, or exit the script early
#singleton (end)

sleeptime="{{ sleeptime | default (60) }}"

logfile=./wilson.log

wait_for_node() {
  while
    echo sleeping
    sleep ${sleeptime}
    pgrep node -U $UID
  do :; done
}

wait_for_node
IFS=' ' read -ra curves <<<"{{ curves | default('curve25519') }}"
for curve in "${curves[@]}"; do
  for method in square mul; do

    sed -i -e "s/--method [^ ]*/--method ${method}/" -e "s/--curve [^ ]*/--curve ${curve}/" ~/session.mux
    printf '%(%Y-%m-%d %H:%M:%S)T [Host %20s] %s %s\n' '-1' $(hostname) "start" "${curve}" "${func}" | tee -a $logfile
    starttime="$(TZ=UTC0 printf '%(%s)T\n' '-1')"

    ~/session.mux cryptopt &
    wait_for_node

    elapsedseconds=$(($(TZ=UTC0 printf '%(%s)T\n' '-1') - starttime))
    printf '%(%Y-%m-%d %H:%M:%S)T [Host %20s] %s %s took %ss\n\n' '-1' $(hostname) "done" "${curve}" "${func}" "${elapsedseconds}" | tee -a $logfile
  done
done
