#!/usr/bin/env bash
# vim: set syntax=bash:

# Who is wilson? Better watch 'Cast away' tonight

sleeptime="{{ sleeptime | default (60) }}"
IFS=' ' read -ra curves <<<"{{ curves | default('curve25519') }}"
for curve in "${curves[@]}"; do
  for method in square mul; do
    while
      echo sleeping
      sleep ${sleeptime}
      pgrep node -U $UID
    do :; done
    sed -i -e "s/--method [^ ]*/--method ${method}/" -e "s/--curve [^ ]*/--curve ${curve}/" ~/session.mux
    ~/session.mux cryptopt &
    echo start $func $curve
  done
done
